{% extends 'base.html.twig' %}

{% block title "Tableau de bord de l'appliaction " %}

{% block body %}
     <h2>Tableau de bord de l'application</h2>
    <p>Bienvenue sur le tableau de bord de l'application</p>
{% endblock %}